In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sales_data_sample.csv", encoding = "ISO-8859-1", engine='python')

In [3]:
quantitative_variables = df.describe().columns.tolist()
df.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [4]:
# Are there missing values?

nombres_columns = df.columns.tolist()
n_rows = df.shape[0]
n_columns = len(nombres_columns)

for i in range(n_columns):
    if(df.iloc[:, i].isnull().values.any()):
        print("Column: ", nombres_columns[i], "  ;", df.iloc[:, i].isnull().sum()," Missing values")

Column:  ADDRESSLINE2   ; 2521  Missing values
Column:  STATE   ; 1486  Missing values
Column:  POSTALCODE   ; 76  Missing values
Column:  TERRITORY   ; 1074  Missing values

In [5]:
print("Total rows: {}".format(n_rows))
print("Total columns: {}".format(n_columns))

Total rows: 2823
Total columns: 25

In [6]:
qualitative_variables = list(set(nombres_columns) - set(quantitative_variables))
for x in sorted(qualitative_variables):
    print(x)

ADDRESSLINE1
ADDRESSLINE2
CITY
CONTACTFIRSTNAME
CONTACTLASTNAME
COUNTRY
CUSTOMERNAME
DEALSIZE
ORDERDATE
PHONE
POSTALCODE
PRODUCTCODE
PRODUCTLINE
STATE
STATUS
TERRITORY

In [7]:
df.TERRITORY.value_counts()

EMEA     1407
APAC      221
Japan     121
Name: TERRITORY, dtype: int64

In [8]:
df.TERRITORY.isnull().sum()

1074

In [9]:
df.loc[pd.isnull(df.loc[:, 'TERRITORY'])].COUNTRY.value_counts()

USA       1004
Canada      70
Name: COUNTRY, dtype: int64

In [10]:
df.loc[df.loc[:, 'TERRITORY'] == 'APAC'].COUNTRY.value_counts()

Australia    185
Singapore     36
Name: COUNTRY, dtype: int64

In [11]:
df.loc[df.loc[:, 'TERRITORY'] == 'Japan'].COUNTRY.value_counts()

Japan          52
Singapore      43
Philippines    26
Name: COUNTRY, dtype: int64

In [12]:
df.loc[df.loc[:, 'COUNTRY'] == 'Singapore'].shape

(79, 25)

In [13]:
def change_territory(col1, col2):
    if(col1 == 'APAC' and col2 == 'Australia'):
        return 'AUSTRALIA'
    elif(col1 == 'APAC' and col2 == 'Singapore'):
        return 'ASIA'
    else:
        return col1

In [14]:
df['TERRITORY2'] = df['TERRITORY'].apply(lambda x: 'ASIA' if x == 'Japan' else x)
df['TERRITORY2'] = df.apply(lambda x: change_territory(x.TERRITORY2, x.COUNTRY), axis=1)
df['TERRITORY2'] = df['TERRITORY2'].apply(lambda x: 'NORTHAME' if pd.isnull(x) else x)

In [15]:
df.TERRITORY2.value_counts()

EMEA         1407
NORTHAME     1074
AUSTRALIA     185
ASIA          157
Name: TERRITORY2, dtype: int64

In [16]:
df.TERRITORY2.isnull().sum()

0

In [17]:
# Get rid of variables that, for now, might not be relevant
df_cleaned = df[df.columns.difference(['ADDRESSLINE2', 'STATE', 'POSTALCODE', 'TERRITORY'])]

In [18]:
df_cleaned.shape

(2823, 22)

In [19]:
nombres_columns_c = df_cleaned.columns.tolist()
n_rows_c = df_cleaned.shape[0]
n_columns_c = len(nombres_columns_c)

for i in range(n_columns_c):
    if(df_cleaned.iloc[:, i].isnull().values.any()):
        print("Column: ", nombres_columns_c[i], "  ;", df_cleaned.iloc[:, i].isnull().sum()," Missing values")

In [20]:
df_cleaned.head()

,ADDRESSLINE1,CITY,CONTACTFIRSTNAME,CONTACTLASTNAME,COUNTRY,CUSTOMERNAME,DEALSIZE,MONTH_ID,MSRP,ORDERDATE,...,PHONE,PRICEEACH,PRODUCTCODE,PRODUCTLINE,QTR_ID,QUANTITYORDERED,SALES,STATUS,TERRITORY2,YEAR_ID
0,897 Long Airport Avenue,NYC,Kwai,Yu,USA,Land of Toys Inc.,Small,2,95,2/24/2003 0:00,...,2125557818,95.70,S10_1678,Motorcycles,1,30,2871.00,Shipped,NORTHAME,2003
1,59 rue de l'Abbaye,Reims,Paul,Henriot,France,Reims Collectables,Small,5,95,5/7/2003 0:00,...,26.47.1555,81.35,S10_1678,Motorcycles,2,34,2765.90,Shipped,EMEA,2003
2,27 rue du Colonel Pierre Avia,Paris,Daniel,Da Cunha,France,Lyon Souveniers,Medium,7,95,7/1/2003 0:00,...,+33 1 46 62 7555,94.74,S10_1678,Motorcycles,3,41,3884.34,Shipped,EMEA,2003
3,78934 Hillside Dr.,Pasadena,Julie,Young,USA,Toys4GrownUps.com,Medium,8,95,8/25/2003 0:00,...,6265557265,83.26,S10_1678,Motorcycles,3,45,3746.70,Shipped,NORTHAME,2003
4,7734 Strong St.,San Francisco,Julie,Brown,USA,Corporate Gift Ideas Co.,Medium,10,95,10/10/2003 0:00,...,6505551386,100.00,S10_1678,Motorcycles,4,49,5205.27,Shipped,NORTHAME,2003

In [21]:
df_cleaned.to_csv("data/sales.csv", header=True, index=False)